* { box-sizing: border-box; } 

/* Base Component Styles */

body {
	max-width: 1280px;
	background-color: #fff;
}

img {
	display: block;
}

/* Header */

header {
	display: flex;
	justify-content: space-between;
	position: relative;
	max-width: 100%;
	height: 165px;
	padding-top: 3%;
	padding-right: 20%;
	padding-left: 10%;
}

header h1 {
	position: relative;
	z-index: 3;
	font-family: 'Lato', sans-serif;
	font-size: 17.438em;
	font-weight: 100;
	color: #fff;
	line-height: .8;
}

header h1 span {
	letter-spacing: -.08em;
}

header h2 {
	align-self: flex-end;
	position: relative;
	z-index: 3;
	font-family: 'Lora', serif;
	font-size: .75em;
	text-transform: uppercase;
	color: #b0aeb8;
}

.header-background {
	position: absolute;
	left: 0;
	top: 0;
	width: 583px;
	height: 1008px;
	background-image: linear-gradient(#cdc9dd 0%, #cdc9dd 70%, #d9d5e5 70%, #cfcbde 100%);
}

/* First Section of Articles */

.first-section {
	display: flex;
	justify-content: flex-start;
	position: relative;
	max-width: 100%;
	height: 950px;
	margin: 0 10%;
}

/* The Barbie Article */

.first-article {
	position: relative;
	top: 3px;
	width: 43%;
	padding: 2% 4%;
	margin-left: 2%;
	font-family: 'Lora', serif;
	text-align: center;
	line-height: 1.4;
}

.first-article img {
	position: relative;
	left: -130px;
	top: 20px;
	z-index: 4;
}

.first-article-shadow {
	position: relative;
	top: 340px;
	left: -80px;
	height: 200px;
	width: 200px;
	background-color: #000;
	box-shadow: 0 20px 20px -10px #000, 150px 50px 30px -15px #000,;
}

.first-article h1 {
	font-size: 2.25em;
	font-weight: 700;
	font-style: italic;
	color: #5f5d66;
}

.first-article p {
	font-size: 1.188em;
	font-weight: 400;
	color: #6e6c77;
}

.second-article {
	width: 53%;
	margin-left: 2%;
	padding-right: 2%;
	font-family: 'Merriweather', serif;
}

.second-article-main-image {
	position: relative;
	left: -170px;
	z-index: 1;
}

.image-shadow {
	position: relative;
	left: -180px;
	top: -24px;
	z-index: 0;
	width: 525px;
	height: 44px;
	background: url(../images/positioning-relatives/shadow.png) no-repeat;
  	/*box-shadow: 30px -10px 35px 4px rgba(0, 0, 0, 0.9);*/
}

.second-article-content {
	position: relative;
	top: -200px;
}

.second-article h1 {
	position: relative;
	z-index: 2;
	font-family: 'Oswald', serif;
	font-size: 4.688em;
	text-transform: uppercase;
	color: #fdcd84;
}

.second-article h2 {
	position: relative;
	left: 4px;
	z-index: 2;
	font-size: .813em;
	text-transform: uppercase;
	color: #cbb8a0;
}

.second-article p {
	position: relative;
	z-index: 2;
	padding-top: .7em;
	font-weight: 300;
	font-size: 1.533em;
	color: #000;
	line-height: 1.3;
}

/* Second Section of Articles */

.second-section {
	display: flex;
	justify-content: flex-start;
	max-width: 976px;
	margin: 1em auto 0;
}

/* The Lobsterman Article */

.third-article {
	z-index: 15;
	width: 13%;
	margin-right: 3%;
	text-align: right;
	line-height: 1.4;
}

.third-article h1 {
	font-family: 'Oswald', serif;
	font-size: 1.313em;
	color: #24795a;
}

.third-article p {
	margin-top: 1em;
	margin-bottom: 1em;
	font-family: 'Lato', sans-serif;
	font-size: .875em;
	color: #464646;
}

.third-article-image {
	position: relative;
	right: 30px;
}

/* Bullets Feature */

.bullets {
	text-align: center;
	width: 87%;
}

.bullets-header {
	padding-top: 1%;
	padding-bottom: 1%;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

.bullets-header h1,
.bullets-header h2 {
	display: inline;
	text-transform: uppercase;
	vertical-align: middle;
}

.bullets-header h1 {
	font-family: 'Oswald', serif;
	font-size: .938em;
	color: #a97d35;
}

.bullets-header h2 {
	margin-left: .225em;
	font-family: 'Lato', serif;
	font-size: .75em;
	letter-spacing: .1em;
	color: #e0c167;
}

.bullets-list {
	list-style-type: none;
}

.bullets-list > li {
	display: inline-block;
	margin-top: 1em;
	padding-left: 3px;
	padding-right: 3px;
	border-right: 1px solid #e5e5e5;
}

.bullets-list li:last-child {
	border-right: none;
}

.bullets-list figure {
	display: inline-block;
	position: relative;
	height: 430px;
}

.bullets-list img {
	position: relative;
	z-index: 11;
}

.bullets-list figcaption {
	position: absolute;
	bottom: 30px;
	z-index: 10;
	width: 150px;
	margin: 0 auto;
	font-family: 'Oswald', serif;
	color: #e0e0e0;
	font-size: 1rem;
}

.thumper-caliber {
	font-size: 5.438em;
	line-height: 1.1;
}

.remington-caliber,
.winchester-caliber {
	font-size: 4.938em;
	line-height: 1.1;
}

.russian-caliber {
	font-size: 1.938em;
	line-height: 1.1;
}

.remington-name,
.winchester-name {
	font-size: 1.75em;
	line-height: 1.4;
}

.russian-name {
	font-size: 2.5em;
	line-height: 1.2;
}

.thumper-name-220 {
	font-size: 2.375em;
	line-height: 1.2;
}

.thumper-name-240 {
	font-size: 2.375em;
	line-height: 1.4;
}

.remington-size,
.winchester-size {
	font-size: 2em;
}

.russian-size {
	font-size: 2.438em;
}

.thumper-size-220 {
	font-size: 2.5em;
}

.thumper-size-240 {
	font-size: 2em;
}

/* Famous Blocks Section */

.third-section {
	position: relative;
	top: -28px;
	z-index: 14;
	max-width: 976px;
	width: 976px;
	margin: 0 auto 1em;
}

.fourth-article-header h1 {
	font-family: 'Oswald', serif;
	font-size: 3.063em;
	color: #fff;
	text-align: center;
}

.fourth-article-header {
	width: 976px;
	padding-top: 2em;
	padding-bottom: 2em;
	background-color: #524741;
}

.fourth-article-images {
	position: relative;
}

.london-map {
	position: absolute;
	right: 0;
	bottom: 0;
	background-image: linear-gradient(135deg,#a49892 0%,#6c5f58 48%,#827670 49%);
}

.fourth-article p {
	font-family: 'Merriweather', serif;
	font-size: 1.6em;
	font-weight: 300;
	line-height: 1.4;
	color: #fff;
}

.fourth-article-content {
	padding: 1em 2.5% .5em;
	background-color: #71625a;
}

.photo-citation,
.photo-citation a {
	font-family: 'Merriweather', serif;
	font-size: 1.125em;
	font-weight: 300;
	font-style: normal;
	line-height: 3.5;
	text-decoration: none;
	color: rgba(255,255,255,.5);
}

.bottom-section {
	position: relative;
	top: -300px;
	height: 1455px;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
  margin: 1% 15% 5%;
  border-top: 1px solid #e5e5e5;
}

.footer-left {
  font-family: 'Lato', sans-serif;
  font-size: 1.063em;
  color: rgba(0,0,0,.6);
}

.footer-left span{
  color: rgba(140,140,140,.6);
}


.footer-right {
  text-align: right;
  font-family: 'Merriweather', sans-serif;
  font-weight: 200;
  line-height: 150%;
  font-size: .813em;
  color: #989898;

}

/* Form */

form {
  margin-right: 15%;
  margin-bottom: 3%;
  margin-left: 15%;
}

/* Overflow Article */

.overflow p {
  font-family: 'Lora', sans-serif;
  font-weight: 200;
  font-style: italic;
  color: rgba(0,0,0,.6);
}

.overflow p:nth-child(2){
  font-size: 1.063em;
  float: center;
  text-align: right;
  margin-right: 15%;
  margin-bottom: 3%;
  margin-left: 37%;
  transform: rotate(2deg);
}
.overflow p:nth-child(3){
  font-size: 1.063em;
  position: inline;
  text-align: left;
  margin-right: 19%;
  margin-bottom: 3%;
  margin-left: 15%;
  transform: rotate(-.75deg);
}

.overflow p:last-child{
  font-size: 1.063em;
  position: inline;
  text-align: left;
  margin-right: 15%;
  margin-bottom: 3%;
  margin-left: 20%;
  transform: rotate(1deg);
}

.overflow-image{
  float: right;
  margin-right: 10%;
  margin-bottom: -15%;
}

/* Border Bottom and Transformers Section */

.heads-and-transformers{
  display: flex;
  justify-content:flex-start;
  margin: 0 auto;
  width: 976px;
}

/* Border Bottom */

.heads{
  font-family: 'Merriweather', sans-serif;
  font-size: 22px;
  font-weight: 300;
  margin-right: 5%;
}

.headers {
	align-self: flex-end;
	width:72.6%;
	margin-right: 15px;
}

.headers h1{
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  text-align: left;
  font-size: 82px;
  padding-bottom: 2%;
}

.headers h2{
  font-family: 'Oswald', sans-serif;
  font-size: 39px;
  border-top: 20px solid black;
  border-bottom: 4px solid black;
  padding-top: 2%;
  padding-bottom: 2%;
}

.heads-image {
  margin: 0 auto;
  width: 976px;
}

.heads-image img {
	position: relative;
	left: -50px;
	top: -44px;
}

/* Transformers */

.transformers {
  background-color: rgb(58,131,187);
/*  margin-right: 20%;*/
  text-align: center;
  color: #ffffff;
  width: 23%;
}

.transformers-image {
	position: relative;
	z-index: 17;
}

.transformers-titles{
  font-family: 'Oswald', sans-serif;
  font-size: 31px;
  text-transform: uppercase;
  line-height: 1.4;
  margin-right: 4%;
  margin-left: 4%;
  border-bottom: 7px solid #619cc9;
  padding-bottom: .3em;
  padding-left: 1%;
  padding-right: 1%;
}

.transformers-titles h2{
  font-size: 21px;
}

.transformers-quote {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 7%;
  padding-right: 7%;
  border-bottom: 2px dashed #234f70;
}

.transformers-quote p{
  font-family: 'Lora', sans-serif;
  font-style: italic;
  font-size: 16px;
  text-align: left;
  line-height: 1.4;
}

.transformers-rotten{
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 5px solid #3476A8;
  border-bottom: 5px solid #3476A8;
  padding-left: 2%;
  padding-right: 2%;

}

.transformers-rotten p{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  display: inline;


}

.transformers-rotten span{
 font-size: 32px;
}

.rotten-header{
  display: inline-block;
}

.rotten-number{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  display: inline-block;
  font-size: 54px;
}

.transformers-meter{
  margin: 1em auto;
  height: .6em;
  width: 95%;
  background-image: linear-gradient(
    to right,
    #ffffff 20%,
    #619cc9 20%,
    #619cc9 100%
    );
  background-size: 100% 100%;
}

.transformers-premier {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  border-top: 2px dashed #234f70;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 4.7%;
  padding-left: 4.7%;
}

.premier-header {
  color: #88aed1;
  width:100%;
  height: 1em;
  background-image: linear-gradient(
    to right,
    #619cc9 18%,
    #3A83bb 18%,
    #3A83bb 82%,
    #619cc9 82%
    );
}

.premier-theater {
  line-height: 1.3;
  font-size: 27px;
}

.premier-location {
  font-size: 28px;
  color: #88aed1;
}

.transformers-premier time{
  font-size: 39px;
}